<web-app id="peace" version="1.0">
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Roman</servlet-name>
        <servlet-class>Roman</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Roman</servlet-name>
        <url-pattern>/roman</url-pattern>
    </servlet-mapping>
</web-app>
